body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-family: 'Homemade Apple', cursive;
  font-size: 2rem;
}

#about {
  padding-top: 3.75rem;
}

h2 {
  font-size: 2.75rem;
}

.padding {
  height: 110px;
  margin: 0;
}

p {
  text-align: justify;
  line-height: 2.25rem;
  font-size: 1rem;
}

.background-color {
  background: linear-gradient(to bottom right, #005e2d, #01858e);
}

textarea {
  resize: none;
}

form label {
  font-size: 1.2rem;
}